{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}
{% block content %}
{% include 'headers/topbar.html' with section=section.slug %}
{% include 'headers/mobile.html' %}
<main>
    {% include 'objects/advertisement.html' with size='leaderboard' name='Leaderboard' id=1 %}
    <div class="u-container u-container--content">
        <h1 class="section">Videos</h1>
        <div class="article-archive">
            <div id="video-loader"></div>
        </div>
    </div>
</main>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/video-1.1.10.js' %}" type="text/javascript"></script>
{% endblock %}
