.o-trending-badge {
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 35px;
  background: #fd3333;
  text-align: center;
  line-height: 22px;
  letter-spacing: 0;
  margin-right: 2px;
  font-size: 13px;
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
}
