main.section {

  h1.section {
    margin-top: 0;
    margin-bottom: 0;
  }

  article.section-top {
    border-top: 1px solid #E6E6E6;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-top: 1rem;
  }

  h3.section-subheading {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.section-video-list {
  padding: 10px;
  margin-bottom: 10px;
  
  :hover {
    cursor: pointer;
  }
}

.section-video-image__preview {
  display: none;
  @media($bp-larger-than-phablet) {
    display: block;
  }
}
