{% load humanize %}
{% with articles.primary as article %}
<article class="primary {{ article.template }}">
    <a class="image" href="{{ article.get_absolute_url }}?ref=frontpage"><img src="{{ article.featured_image.image.get_medium_url }}"/></a>
    <div class="meta">
        <a href="{{ article.get_absolute_url }}?ref=frontpage"><h1 class="headline">{{ article.headline|safe }}</h1></a>
        <div class="o-article__byline">
          <span class="o-article___author">By {{ article.get_author_url|safe }}</span>
          <span> &nbsp;·&nbsp; </span>
          <span class="o-article__published">{{ article.published_at }}</span>
        </div>
        <p class="o-article__snippet"><span class="timestamp hide-desktop">{{ article.published_at|naturaltime }}</span>{{ article.snippet|safe }}</p>
    </div>
</article>
{% endwith %}
